# Dependencies
/node_modules

# Build output
/dist

# Environment variables
/key.pem
/cert.pem
/*.pem
.env

# Logs
/logs
*.log

# Coverage reports
/coverage

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db